*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  list-style: 1.5;
  background-color: #ddd9d9;
}
.all_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}