nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  min-width: 480px;
  background: #f1eded;
  padding: 10px;
  border-radius: 50px;
  position: fixed;
}
.link {
  text-decoration: none;
}
